---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Volunteering from '../components/Volunteering.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Denisa Căldăraru | Portfolio">
  <Navbar />
  <main>
    <Hero />
    <About />
    <Skills />
    <Projects />
    <Volunteering />
    <Contact />
  </main>
</Layout>
